@charset 'utf-8';
html, body, div, span,
h1, h2, h3, p,
a,
del, em, img, strong, sub, sup,
b, u, i,
dl, dt, dd, ol, ul, li, form, label,
table, tbody, tfoot, thead, tr, th, td,
article, canvas, footer, header, nav, section,
time, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 37.5px;
    font-style: normal;
    text-decoration: none;
    font-family: sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer, header, nav, section {
    display: block;
}
html, body {
    height: 100%;
}
body {
    line-height: 1;
    background-color: #f1f3f5;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
input[type="button"], input[type="submit"], input[type="reset"] {

-webkit-appearance: none;

}
strong, b {
    font-weight: bold;
}
textarea {  
    -webkit-appearance: none;
}
input, img {
    vertical-align: middle;
}
.dn{
    display: none;
}